body {
  background-color: lightblue;
}

body {
  color: blue;
}

h1 {
  color: green;
}

h2 {
  color: red;
}

.text {
color: orange;
}

a {
  color: hotpink;
  background-color: yellow;
  font-weight: bold;
}
